{erl_opts, [debug_info]}.

{deps, [
    {protobuffs, "0.*", {git, "https://github.com/basho/erlang_protobuffs.git", {branch, "master"}}},
    {jsx, "", {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}}
]}.

{clean_files, ["*~", "**/*~", "**/*.beam"]}.

{eunit_opts, [
    verbose,
    {report, {
        eunit_surefire, [{dir,"."}]
    }}
]}.
